[submodule "Assets/Scripts/_Shared/Audio"]
	path = Assets/Scripts/_Shared/Audio
	url = git@github.com:cidneyhamilton/cyborg-audio.git
[submodule "Assets/Scripts/_Shared/Scenes"]
	path = Assets/Scripts/_Shared/Scenes
	url = git@github.com:cidneyhamilton/cyborg-scenes.git
